.list-body {
  margin-top: 10px;
  margin-bottom: 18px;
}

.warning {
  padding: 10px;
  margin-bottom: 6px;
}

.form-select {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.list-title {
  background-color: #6b7a9c;
}

.list-title .container-fluid {
  height: 44px;
}

.title-item {
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-left: 1px solid floralwhite;
  color: ghostwhite;
}

.list-title .title-item:first-child {
  border-left: none;
}

.list-products .center-item,
.list-products .item {
  padding:5px;
}

.list-products .center-item {
  text-align: center;
}

.list-products:nth-child(odd) {
  background-color: #e8e8e8;
}

.submitResult label {
  margin: 15px 0 5px 0;
  font-weight: bolder;
}

@media (min-width: 920px) {
  .list-title .container-fluid {
    height: 37px;
  }
}
