<template name="IbuyitAbout">
    <div class="intro-body">
        <div class="intro-title">Who we are and what we do</div>

        <ul class="intro-list">
            <li>Atech Computers established business in 1995</li>
            <li>Atech Computers cover New Zealand wide</li>
            <li>We manufacture Atech branded PCs, including consumer PC, servers and workstations</li>
            <li>We customize PCs to what the customer needs</li>
            <li>We directly market our PC products</li>
            <li>Our clients include government departments, schools, corporations, small
                businesses and home users</li>
            <li>We carry a large range of products in our showroom</li>
            <li>We provide a consultancy service. We service our own and other branded
                computers</li>
        </ul>

        <div class="intro-title">Why buy from us</div>

        <table border=0 cellpadding=0 cellspacing=0>
            <tr><td span class=body>
                <ul class="intro-list">
                    <li>1 year parts and labour warranty on systems</li>
                    <li>Phone support 5 days a week</li>
                    <li>Intel Certified Gold Partner & Dealer</li>
                    <li>Microsoft OEM Partner</li>
                    <li>Authorised Microsoft Academic Supplier</li>
                    <li>Hire Purchase available to approved customers</li>
                </ul>
            </td>
                <td width=64>&nbsp;</td>
                <td><img src="/resources/intel-gold-2014.jpg" height=125 width=125></td>
            </tr>
        </table>

        <div class="intro-title">Contact</div>
        <div>
            <b class="intro-subtitle">Hours:</b>
            <ul class="no-numbering-list">
                <li>Mon-Fri:  9:30am - 6pm</li>
                <li>Sat: 10am - 5pm </li>
                <li>Closed Sunday & public holidays</li>
            </ul>
        </div>

        <div>
            <b class="intro-subtitle">Phone:</b>
            <ul class="no-numbering-list">
                <li>Sales & Support: <span class="tel">(04) 801-6188</span></li>
                <li>Fax: <span class="tel">(04) 801-6988</span></li>
            </ul>
        </div>

        <div>
            <b class="intro-subtitle">Email:</b>
            <ul class="no-numbering-list">
                <li>Sales: <a href="mailto:sales@atech.co.nz" style="color: rgb(0,0,255)">sales@atech.co.nz</a></li>
                <li>Support: <a href="mailto:support@atech.co.nz" style="color: rgb(0,0,255)">support@atech.co.nz</a></li>
            </ul>
        </div>

        <div>
            <b class="intro-subtitle">Twitter:&nbsp;&nbsp;</b><a href=https://twitter.com/Atech_Computers>@Atech_Computers</a>

            <div>
                <a href="https://twitter.com/intent/tweet?screen_name=Atech_Computers" class="twitter-mention-button" data-related="Atech_Computers">Tweet to @Atech_Computers</a>
                <script>
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0], p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>


        </div>

        <div class="intro-title">Account details</div>
        <ul class="no-numbering-list">
            <li>Account holder: KLMH Toplink T/A Atech Computers</li>
            <li>Bank: ANZ</li>
            <li>Account No.: 06-0529-0860086-00</li>
        </ul>

        <div class="intro-title">Where to find us</div>
        <ul class="no-numbering-list">
            <li>Ground Floor, 276-282 Wakefield St</li>
            <li>Te Aro</li>
            <li>Wellington 6011</li>
        </ul>

        <iframe width="512" height="384" frameborder="no" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.nz/maps/ms?hl=en&ie=UTF8&msa=0&msid=111608684802522539964.00043856c261514c5d3ba&ll=-41.292286,174.783608&spn=0,0&om=1&output=embed&s=AARTsJpBQe7dwbhmbOEdYZHXv1xsZUulEA"></iframe>
        <br/><a href="http://maps.google.co.nz/maps/ms?hl=en&ie=UTF8&msa=0&msid=111608684802522539964.00043856c261514c5d3ba&ll=-41.292286,174.783608&spn=0,0&om=1&source=embed" style="color:#0000FF;text-align:left;font-size:small">View Larger Map</a>
    </div>
</template>
