
<template name="IbuyitNavBar">
  <div class="rui navbar ibuyit-navbar">
    {{> coreNavigationBrand}}
    <ul class="nav-wrapper">
        <li class="{{getFocused 'about'}}">
            <a id="about">ABOUT US</a>
        </li>
        <li class="{{getFocused 'index'}}">
            <a id="home">HOME</a>
        </li>
    </ul>

    <div class="accounts">{{> accounts tpl="loginDropdown"}}</div>
    <div class="cart">{{> cartIcon}}</div>
    <div class="cart-alert">{{> cartPanel}}</div>
  </div>
</template>
