
<template name="IbuyitNavBar">
  <div class="rui navbar ibuyit-navbar">
    {{> coreNavigationBrand}}
    <ul class="nav-wrapper">
        <li class="ibuyit-nav-item {{getFocused 'index'}}">
            <a id="home">HOME</a>
        </li>
        <li class="ibuyit-nav-item {{getFocused 'about'}}">
            <a id="about">ABOUT US</a>
        </li>
        {{getCurrentPath}}
    </ul>

    <div class="accounts">{{> accounts tpl="loginDropdown"}}</div>
    <div class="cart">{{> cartIcon}}</div>
    <div class="cart-alert">{{> cartPanel}}</div>
  </div>
</template>
