html,body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #f5f5f5;
}

ul,li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 !important;
  }
}

.container-fluid {
  padding: 0 !important;
}

.ibuyit-row {
  margin: 0;
}

.ibuyit-tag-nav {
  height: 39px !important;
}

.ibuyit-navbar {
  background-color: #222f3e !important;
  height: 39px !important;
  min-height: 39px !important;
}

.ibuyit-navbar .accounts {
  height: 39px !important;
}

.ibuyit-navbar .accounts #logged-in-display-name {
  font-size: 13px;
}

.ibuyit-cart-icon {
  height: 27px !important;
  padding: 2px 3px 2px 3px;
  margin: 6px 30px 6px 30px;
  background-color: transparent !important;
  border: 1px solid;
  border-radius: 15px;
}

.ibuyit-cart-icon .fa-shopping-cart {
  font-size: 1em !important;
  padding-left: 7px;
}

.ibuyit-cart-icon .badge {
  position:relative !important;
  background-color: transparent !important;
  height: 21px;
  bottom: auto;
  padding: 4px 6px 3px 5px !important;
}

.ibuyit-static-header {
  background-color: #222f3e !important;
  width: 100%;
  height: 39px;
  z-index: 1000;
}

#main {
  background-color: #f5f5f5 !important;
  min-height: 91vh;
}

.ibuyit-page {
  overflow: auto;
}

.ibuyit-footer {
  height: 48px;
  padding: 0 0;
  background-color: #222f3e !important;
}

.copy-right {
  width: 100%;
  height: 39px;
  color: #f2f2f2;
  text-align: center;
}

@media (max-width: 767px) {
  .ibuyit-footer {
    display: none;
  }
}
