<template name="IbuyitAdminCoreLayout">
    <!--<span class="layout-alerts-global">{{> inlineAlerts}}</span>-->
    <div class="page ibuyit-page {{adminControlsClassname}}" id="reactionAppContainer">
        <nav class="reaction-navigation-header ibuyit-static-header">
            <div class="header-wrapper container">
                <!-- begin layoutHeader -->
              {{> Template.dynamic template=layoutHeader}}
                <!-- end layoutHeader -->
            </div>
        </nav>

        <div class="container">
            <nav class="reaction-cart-drawer">
              {{> cartDrawer}}
            </nav>

            <main role="main" id="main">
                <!-- begin dashboardHeader -->
              {{> Template.dynamic template=dashboardHeader}}
                <!-- end dashboardHeader -->

                <!-- begin template region -->
              {{> Template.dynamic template=template}}
                <!-- end template region -->
            </main>
        </div>

        <footer class="reaction-navigation-footer footer-default ibuyit-footer">
            <!-- begin layoutFooter -->
          {{> Template.dynamic template=layoutFooter}}
            <!-- end layoutFooter -->
        </footer>
    </div>

    <div class="admin-controls {{adminControlsClassname}}" style="z-index: 2000;">
        <div class="admin-controls-detail">
            <div class="admin-controls-heading">
              {{> settingsHeader}}
            </div>
            <div class="admin-controls-content action-view-body">
                <!-- begin admin controls -->
              {{> Template.dynamic template=control.template data=control.data}}
                <!-- end admin controls-->
            </div>
            <div class="admin-controls-footer">
                <div class="admin-controls-container">
                    <!-- begin adminControlsFooter -->
                  {{> Template.dynamic template=adminControlsFooter}}
                    <!-- end adminControlsFooter -->
                </div>
            </div>
        </div>
    </div>
</template>
