<template name="IbuyitProductImport">
    <div class="container-fluid-sm">
        <div class="panel panel-default">
            <form id="form-import-csv" class="panel-body" role="form">
                <div class="form-group">
                    <div id="file-warning" class="warning text-warning bg-danger hide"></div>
                    <label>File</label>
                    <input name="csvfiles" class="form-control" type="file">
                </div>
                <div class="form-group">
                    <label>Provider</label>
                    <div id="provider-warning" class="warning text-warning bg-danger hide"></div>
                    <select name="provider" class="form-select">
                        <option value="0"> - Please select a provider - </option>
                        <!--<option value="1">IM</option>-->
                        <option value="2">Anyware</option>
                        <option value="3">PB</option>
                        <option value="4">Synnex</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-info">Import</button>
            </form>
        </div>
    </div>
    <div class="container-fluid-sm">
        <div class="panel panel-default">
            <form id="form-import-result" class="panel-body" role="form">
                <div class="form-group">
                    <label>You are going to import the following products:</label>
                    <div class="list-body">
                      {{#let ret=productList}}
                        {{#if ret.success}}
                            <div class="list-title">
                                <div class="container-fluid">
                                    <div class="col-xs-2 title-item"><strong>Brand</strong></div>
                                    <div class="{{getNameClass ret.provider}} title-item"><strong>Name</strong></div>
                                    <div class="col-xs-3 title-item"><strong>Retail Price</strong>&nbsp;(No GST)</div>
                                    <div class="col-xs-1 title-item"><strong>Stock</strong></div>
                                </div>
                            </div>
                          {{#each product in ret.result}}
                            {{#if product.Name}}
                                <div class="container-fluid list-products">
                                    <div class="col-xs-2 center-item">{{product.Brand}}</div>
                                    <div class="{{getNameClass ret.provider}} item">{{product.Name}}</div>
                                    <div class="col-xs-3 center-item">{{product.RetailPrice}}</div>
                                    <div class="col-xs-1 center-item">{{product.Stock}}</div>
                                    <input type="hidden" name="No" value="{{product.No}}">
                                    <input type="hidden" name="Name" value="{{product.Name}}">
                                    <input type="hidden" name="RetailPrice" value="{{product.RetailPrice}}">
                                    <input type="hidden" name="Brand" value="{{product.Brand}}">
                                    <input type="hidden" name="Stock" value="{{product.Stock}}">
                                  {{{getProviderSpecificFields product @index}}}
                                </div>
                            {{/if}}

                          {{/each}}
                        {{else}}
                            <p><span>{{ret.errMsg}}</span></p>
                        {{/if}}
                      {{/let}}
                    </div>
                    <button type="submit" class="btn btn-info" id="submitToServer">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</template>
